* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 10px;
    padding-top: 20px;
    width:2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    width: 100%;
    height: 100%;
    background: #659cdf;
    border: solid, 2px;
    border-radius: 25px;
    color: #0A3871;
    margin-top: 35px;    
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }

.mensagem {
    
    width: 25%;
    height: 85%;
    background: white;
    background-image: url("imagens/garoto.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 35px;
    padding-left: 20px;
    position: fixed;
}
.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 132px;
    margin-top: 585px;
    position: absolute;
    width: 336px;
}

.informacao {
    color: #495057;
    font-size:18px;
    text-align: center;
}